<div class="container general-margin">
    <div class="row">
        <h1 class="text-center titles">Ingresar</h1>
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
            <%= form_tag '/admin' do %>
                <h3 class="label-form">Correo:</h3>
                <%= text_field_tag :email %>
                
                <h3 class="label-form">Contraseña:</h3>
                <%= password_field_tag :password %>
                
                <%= submit_tag 'Ingresar', class: 'btn-suscribe btn-yellow-white' %>
            <% end %>
        </div>
    </div>
</div>