<div class="container">
    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies dignissim euismod. Nam laoreet risus ut odio condimentum, aliquam pulvinar lectus eleifend. Fusce eget pretium risus. Vestibulum eget lacus ac lorem interdum porta et vel ante. Morbi eu velit a sem consequat bibendum. Proin sed erat nulla. Aliquam pharetra mi ultricies consectetur efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nisl est, consectetur id porttitor ac, tempus quis mi. Aenean ut molestie ipsum, a feugiat nibh. Suspendisse eu turpis ornare, faucibus enim eu, blandit magna.
        </div>
        <div class="col-md-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies dignissim euismod. Nam laoreet risus ut odio condimentum, aliquam pulvinar lectus eleifend. Fusce eget pretium risus. Vestibulum eget lacus ac lorem interdum porta et vel ante. Morbi eu velit a sem consequat bibendum. Proin sed erat nulla. Aliquam pharetra mi ultricies consectetur efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nisl est, consectetur id porttitor ac, tempus quis mi. Aenean ut molestie ipsum, a feugiat nibh. Suspendisse eu turpis ornare, faucibus enim eu, blandit magna.
        </div>
    </div>
</div>